
body{
    background-color: black;
}
.Header{
background-color: black;
}

.promo {
  font-size: 20px;
  margin-left:10%;
  display: inline;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  font-family: "Clip";
  text-transform: uppercase;
  
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}
#shopCart{
  margin-top: 0;
  margin-left: 12%;
  width: 40px;
  height:fit-content;
}
@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

#logo{
  margin-top: 0;
  margin-left: 2%;
  width: 120px;
  height:fit-content;
  
 
}
#logo:hover{
 content: url('../image/Untitled-3.png');
  height:fit-content;
}
.topNavBar{
    background-color:white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-top: 0;
}
.topNavBar:hover{
    background-color:black ;
    font-size: 20px;
    text-align: center;
    
}
.bar-item {
    display: inline;
    color: black;
    text-decoration: none; 
    margin-right: 80px;
    padding: 10px;
    letter-spacing: 5px;
  }
  .bar-item:hover{
    background-color: black;
    color: white;
    
  }
 
  .gallery{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    float: left;
    align-content: center;
    color: white;
    font-size: 8px;

  }


  #Product {
    --brightness: 1.15;
    --grayscale: 0;
   
  }
  img {
    --brightness: 0.75;
    --grayscale: 1;
    transition: flex var(--transition), filter var(--transition);
    height: 100%;
    filter: grayscale(var(--grayscale)) brightness(var(--brightness));
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    flex: 1;
  }
  
  img:hover {
    --brightness: 1.15;
    --grayscale: 0;
    flex: var(--magnifier);
  }

 #quantity {
    display: flex;
  flex-direction: row;
  width: 20px;
 
 }
 .value {
      border: 1px solid #adadad;
      border-radius: 3px;
      padding: 4px;
      text-align: center;
      font-weight: bolder;
      width: 20px; 
      height: 10px;
      -moz-appearance: textfield;
      
      
}
.value::-webkit-outer-spin-button,
.value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

    .increment,
    .decrement {
      border: 0;
      background: transparent;
      cursor: pointer;
      border-radius: 3px;
      background: white;
      color:black;
      font-weight: bolder;
      height: 20px;
    }
  
    .btn {
       
        background: #ededed;
        background-image: -webkit-linear-gradient(top, #ededed, #8f9294);
        background-image: -moz-linear-gradient(top, #ededed, #8f9294);
        background-image: -ms-linear-gradient(top, #ededed, #8f9294);
        background-image: -o-linear-gradient(top, #ededed, #8f9294);
        background-image: linear-gradient(to bottom, #ededed, #8f9294);
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Arial;
        color: #ffffff;
        font-size: 10px;
        font-weight: bold;
        padding: 10px 5px 10px 5px;
        height: 2px;
        display: block;
        line-height: 0px;
        
       
       
      }
      
      .btn:hover {
        background: #c9c9c9;
        background-image: -webkit-linear-gradient(top, #c9c9c9, #403f40);
        background-image: -moz-linear-gradient(top, #c9c9c9, #403f40);
        background-image: -ms-linear-gradient(top, #c9c9c9, #403f40);
        background-image: -o-linear-gradient(top, #c9c9c9, #403f40);
        background-image: linear-gradient(to bottom, #c9c9c9, #403f40);
        text-decoration: none;
      }
  #footer{
  
    width: 100%;
    height: 20%;
    border: none;
    font-family: "Montserrat", sans-serif;
    margin: 40px 20px 0 20px;
    color :white;
    text-align:center;
    letter-spacing: 3px;
   display: flex;
   
   
  
}
span{
    margin-top: 200px;
}
#socialMedia{
    width: 40px;
    height: fit-content;
    margin-left: 10px;
    
  }